*,
*::before,
*::after {
  margin: 0%;
}
body {
  --Very-Dark-Blue-Text: hsl(200, 15%, 8%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-family: "Nunito Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.card {
  display: flex;
  align-self: center;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 7px 29px 0px;
  background: var(--White);
  color: var(--Very-Dark-Blue-Text);
  text-decoration: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 1s ease;
  align-items: center;
  max-width: fit-content;
  margin: 3rem;
}
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: var(--White);
  text-decoration: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 1s ease;
  min-width: 25rem;
  /* margin: 7rem; */
  max-height: 20rem;
  min-height: 12rem;
}
#flag-container {
  display: flex;
  justify-content: center;
}

#flag {
  height: 40vh;
  max-width: 40rem;
}
#countryOptions {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin: 1rem;
}

#nextflag {
  width: 100%;
}
.btn-option {
  border: none;
  margin: 5px;
  padding: 1rem;
  max-width: 18rem;
  min-width: 26rem;
  font-size: 15px;
}
.btn-option:hover{
  background-color: #20b2aa
} 
.symbol {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
#points {
  text-align: center;
  color: blue;
  padding: 2rem;
  cursor: pointer;
  transition: 2s ease;
}
#restart-btn {
}
.score-table {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;

}
#third-section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: var(--White);
  text-decoration: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 1s ease;
  min-width: 20rem;
  max-height: 10rem;
  min-height: 10rem;
}
@media (max-width: 1140px) {
  .score-table {
    margin-top: 0;
  }
  #third-section {
    min-height: 5rem;
  }
  .first-section {
    flex-direction: row;
  }
  #flag {
    max-width: 28rem;
  }
  .btn-option {
    min-width: 20rem;
  }
}
@media (max-width: 600px) {
  .first-section {
    flex-direction: column;
    margin: 0;
  }
  #video {
    display: none;
  }
  #flag {
    height: 25vh;
  }
  .second-section {
    min-height: 15rem;
    width: 20rem;
  }
}
